.bg-login {
    width: 100%;
    min-height: 100vh;
    padding-top: 3rem;
    background-image: url('https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/facelift_2019/model_detail/gateway_urus/performante/2022/s/urus_perfo_s_02.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-title-login img {
    width: 100%;
    height: 18rem;
    background-repeat: no-repeat;
    background-size: contain;
    object-fit: contain;
}

.div-login {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.formlogin {
    width: 369px;
    margin-right: 10vw;
    padding-top: 80px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.349);
}

.login {
    width: 80%;
    color: white;
    border: none;
    border-bottom: 2.5px solid white;
    background-color: transparent;
    font-size: 18px;
    font-weight: 600;
    line-height: 0.1;
}

.email{
    margin-bottom: 80px;
}

.password{
    margin-bottom: 15px;
}

::placeholder {
    opacity: 0.7;
}

.login:focus {
    outline: none;
}

.btnLogin {
    background-color: white;
    color: black;
    font-size: 20px;
    font-weight: 600;
    padding: 15px 46px;
    border: none;
}
.btnLogin:hover{
    cursor: pointer;
}

.text-login {
    width: 80%;
    display: flex;
    color: white;
    margin-bottom: 16px;
    font-size: 13px;
    font-weight: 400;
}

.text-login p{
    opacity: 0.7;
}

.text-login a {
    text-decoration: none;
    color: white;
    margin-left: 0.3rem;
    font-weight: 600;
}

@media screen and (max-width: 767px) {
    .bg-login{
        padding-top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .bg-title-login{
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: 2rem;

    }
    .bg-title-login img {
        width: 90%;
        margin: 0;
        height: 10rem;
    }
    .div-login {
        height: fit-content;
        justify-content: center !important;
        align-items: baseline;
    }
    .formlogin{
        margin: 0;
        max-width: 90vw;
        margin-bottom: 7rem;
    }
}