.open-nav{
    background: black;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 29.861vw;
    height: 100vh;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    animation: roll 0.2s linear;
}

@keyframes roll{
    0%{
        margin-left: -29.861vw;
    }
    100%{
        margin-left: 0;
    }
}

@media (max-width: 767px){
    .open-nav{
        width: 65vw;
        border-radius: 0;
    }
}