.bg-register {
    width: 100%;
    min-height: 100vh;
    padding-top: 3rem;
    background-image: url('https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/facelift_2019/model_detail/huracan/sterrato/over/huracan_sterrato_01_over.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.bg-title-register img {
    width: 60%;
    height: 18rem;
    background-repeat: no-repeat;
    background-size: contain;
    object-fit: contain;
}

.div-register {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.formRegister {
    padding-top: 63px;
    padding-bottom: 28px;
    width: 369px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.349);
}

.register {
    width: 85%;
    color: white;
    border: none;
    border-bottom: 2.5px solid white;
    background-color: transparent;
    margin-bottom: 2rem;
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 600;
    line-height: 0.1;
}

.register::placeholder{
    opacity: 0.7;
}

.register:focus {
    outline: none;
}

.btnRegister {
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 15px 46px;
    border: none;
}
.btnRegister:hover{
    cursor: pointer;
}

.text-register {
    width: 85%;
    display: flex;
    color: white;
    margin-bottom: 3vh;
    font-size: 13px;
    margin-top: -15px;
}
.text-register p{
    opacity: 0.7;
}
.text-register a {
    text-decoration: none;
    color: white;
    margin-left: 0.3rem;
    font-weight: 600;
}

@media screen and (max-width: 767px) {
    .bg-register {
        padding-top: 0rem;
    }

    .bg-title-register {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .bg-title-register img {
        margin-top: 2rem;
        display: flex;
        align-items: center;
        width: 90%;
        object-fit: contain;
        height: 10rem;
    }

    .formRegister {
        height: fit-content;
        max-width: 80vw;
        margin-bottom: 3rem;
    }

    .register {
        font-size: 13px;
    }

    .btnRegister {
        font-size: 15px;
    }

    .text-register {
        width: 90%;
        font-size: 13px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .bg-title-register img {
        margin-left: 10vh;
    }
}