.cards-carrito .container-card {
    width: 18rem;
    height: 30rem;
    background-color: black;
    padding: 1rem;
}
.cards-carrito .img {
    width: 15rem;
    margin-left: 1.5rem;
}
.cards-carrito .container-card h2 {
    color: white;
    margin-left: 4rem;
}
.cards-carrito .container-card h3 {
    color: white;
    margin-top: 1.5rem;
}
.cards-carrito .close {
    width: 2rem;
}
.cards-carrito .div-card {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}
.cards-carrito .btn-close {
    margin-right: 1rem;
    width: 2rem;
    background-color: black;
    border-radius: 100px;
    border: none;
}