.cont-customize {
    width:100%;
    height: auto;
    background: rgb(237, 237, 237);
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    overflow-y: hidden;
}

.title-customize {
    width: 100vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    justify-items: center;
}

.img-title-makeIt {
    width: 50vw;
    height: 30vh;
    margin-top: 10vh;
    position: relative;
    z-index: 1;

  }

  
  .resume {
    opacity: 1;
    transition: opacity 0.5s ease-in-out; /* anima la propiedad 'opacity' durante 0.5 segundos con un efecto suave 'ease-in-out' */
  }
  
  .resume.hidden {
    opacity: 0;
  }
  
 .contenedor-img-car {
    width: 100vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    justify-items: center;
    position: relative;
    z-index: 0;
} 

  
.img-config {
    width: 100vw;
    height: 110vh;
    position: relative;
    z-index: 0;
    margin-top: -25vh;
      transform: translateX(100%);
    animation: aparecer-izquierda 2s forwards;
}

@keyframes aparecer-izquierda {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
  
}
.section-btn-resume{
    background: black;
    height: 10vh;
}
.btn-123 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
.Btn-custome {
    margin-top: 1rem;
  display: flex;
  color: white;
  padding: 0.5rem 1rem;
  background: linear-gradient(180deg, #57585D 0%, rgba(52, 52, 52, 0.747) 100%);
  box-shadow: #070707 0px 0px 2px;
  text-decoration: none;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  transition: all 250ms linear;
  }
.resume{
    width: 100%;
    height: 100%;
   
    
}
.div-color {
    width: 40vw;
    height:100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.233) ;
    clip-path: polygon(0 0, 100% 0, 0 100%, 0% 100%);
  }
 
.div-color2 {
    width: 40vw;
    height:100vh;
    position: relative;
    top: 0;
    left: 0;
    z-index: 2;
    margin-top: 50;
    background: rgba(0, 0, 0, 0.233) ;
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 0 100%);
}
.section-custom {
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.section-prev-custom {
    width: 60vw;
    z-index: 1;
  
}

/*color*/
.section-color {
    width: 18vw;
    height: 10vh;
    margin-left: 4vw;
    display: flex;
    justify-content: flex-start;
    transform: translateX(-100%);
    animation: aparecer-derecha 1s forwards;
}

@keyframes aparecer-derecha {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

.title-color {
    margin-top: 30vh;
    margin-left: 0;
    width: 20vw;
    height: 9vh;
    background: rgb(6, 6, 6);
    padding: 1rem;
    color: rgb(255, 254, 254);
    font-size: 2rem;
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}
.color-1 {
    width: 3vw;
    height: 7vh;
    margin: 1rem;
    margin-left: 0;
   
}
.rim-1 {
    width: 6vw;
    height: 13vh;
    margin: 1rem;
    margin-left: 0;
   
}
button{
    border:none
}
/*rim*/
.section-color2 {
    width: 18vw;
    height: 10vh;
    margin-left: 20vw;
    display: flex;
    justify-content: flex-end;
    transform: translateX(100%);
    animation: aparecer-izquierda 1s forwards;
}

@keyframes aparecer-izquierda {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

.title-color2 {
    margin-top: 70vh;
    margin-left: 20vw;
    width: 20vw;
    height: 9vh;
    background: rgb(6, 6, 6);
    padding: 1rem;
    color: rgb(255, 254, 254);
    font-size: 2rem;
    text-align: end;
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
}
.color-2 {
    width: 5vw;
    height:11vh;
    margin: 1rem;
    margin-left: 0;
    
}

.resume {
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 0.3s ease-in-out, height 0.3s ease-in-out;
  }
  
  .resume.visible {
    opacity: 1;
    height: auto;
  }

.contenedor-resume-custom{
    display: flex;
    flex-direction: row;
}
.img-resume{
    background: rgba(255, 192, 203, 0.368);
    width: 50%;
}
.resume-info{
    background: rgba(193, 103, 12, 0.368);
    width: 50%;
}
.info-item-resume{
    display: flex;
    flex-direction: row;
    background: rgba(0, 0, 255, 0.464);
    margin: 1rem;
    justify-content: space-between;
}
.section-addcart{
    margin: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    background: rgba(255, 0, 0, 0.533);
}
@media (min-width:320px) and (max-width: 767px){
    .cont-customize {
        width: 100vw;
        height: 100vh;
        background: rgb(237, 237, 237);
        display: flex;
        flex-direction: row;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    
    .title-customize {
        width: 100vw;
        height: auto;
        display: flex;
        justify-content: center;
        justify-items: center;
    }
    
    .img-title-makeIt {
        width: 50vw;
        height: 20vh;
        margin-top: 10vh;
        position: relative;
        z-index: 1;
    }
    .contenedor-img-car {
        width: 100vw;
        height: 70vh;
        display: flex;
        justify-content: center;
        justify-items: center;
    }
    .img-config {
        width: 100vw;
        height: 50vh;
        position: relative;
        z-index: 0;
        margin-top: -10vh;
    }

    /*color*/
    .section-color {
        width: 40vw;
        height: 10vh;
        margin-left: 4vw;
        display: flex;
        justify-content: flex-start;
    }
    .title-color {
        margin-top: 60vh;
        margin-left: 0;
        width: 40vw;
        height: 9vh;
        background: rgba(6, 6, 6, 0.588);
        padding: 1rem;
        color: rgb(3, 3, 3);
        font-size: 0.8rem;
        clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    }
    .color-1 {
        width: 4vw;
        height:4vh;
        margin: 1rem;
        margin-left: 0;
       
    }
    button{
        border:none
    }
    /*rim*/
    .section-color2 {
        width: 18vw;
        height: 10vh;
        margin-left: 4vw;
        display: flex;
        justify-content: flex-start;
    }
    .title-color2 {
        margin-top:80vh;
        margin-left: 20;
        width: 80vw;
        height: 9vh;
        background: rgba(6, 6, 6, 0.588);
        padding: 1rem;
        color: rgb(3, 3, 3);
        font-size:0.8rem;
        clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    }
    .color-2 {
        width: 5vw;
        height:11vh;
        margin: 1rem;
        margin-left: 0;
        
    }
    
}
@media (min-width:768px) and (max-width: 1023px){
    .cont-customize {
        width: 100vw;
        height: 100vh;
        background: rgb(237, 237, 237);
        display: flex;
        flex-direction: row;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    
    .title-customize {
        width: 100vw;
        height: auto;
        display: flex;
        justify-content: center;
        justify-items: center;
    }
    
    .img-title-makeIt {
        width: 60vw;
        height: 20vh;
        margin-top: 10vh;
        position: relative;
        z-index: 1;
    }
    .contenedor-img-car {
        width: 100vw;
        height: 70vh;
        display: flex;
        justify-content: center;
        justify-items: center;
    }
    .img-config {
        width: 100vw;
        height: 60vh;
        position: relative;
        z-index: 0;
        margin-top: -20vh;
    }

    /*color*/
    .section-color {
        width: 40vw;
        height: 10vh;
        margin-left: 4vw;
        display: flex;
        justify-content: flex-start;
    }
    .title-color {
        margin-top: 60vh;
        margin-left: 0;
        width: 40vw;
        height: 9vh;
        background: rgba(6, 6, 6, 0.588);
        padding: 1rem;
        color: rgb(3, 3, 3);
        font-size: 2rem;
        clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    }
    .color-1 {
        width: 9vw;
        height:8vh;
        margin: 1rem;
        margin-left: 0;
       
    }
    button{
        border:none
    }
    /*rim*/
    .section-color2 {
        width: 18vw;
        height: 10vh;
        margin-left: 4vw;
        display: flex;
        justify-content: flex-start;
    }
    .title-color2 {
        margin-top:80vh;
        margin-left: 20;
        width: 80vw;
        height: 9vh;
        background: rgba(6, 6, 6, 0.588);
        padding: 1rem;
        color: rgb(3, 3, 3);
        font-size:2rem;
        clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    }
    .color-2 {
        width: 5vw;
        height:11vh;
        margin: 1rem;
        margin-left: 0;
        
    }
    
}