.cont-customize {
    width: 100vw;
    height: auto;
    background: rgb(237, 237, 237);
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    overflow-y: hidden;
}

.title-customize {
    width: 100vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    justify-items: center;
}

.img-title-makeIt {
    width: 50vw;
    height: 30vh;
    margin-top: 10vh;
    position: relative;
    z-index: 1;
}
.contenedor-img-car {
    width: 100vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    justify-items: center;
}
.img-config {
    width: 100vw;
    height: 110vh;
    position: relative;
    z-index: 0;
    margin-top: -25vh;
}


.div-color {
    width: 40vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.section-custom {
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.section-prev-custom {
    width: 60vw;
    z-index: 1;
}
/*color*/
.section-color {
    width: 18vw;
    height: 10vh;
    margin-left: 4vw;
    display: flex;
    justify-content: flex-start;
}
.title-color {
    margin-top: 30vh;
    margin-left: 0;
    width: 20vw;
    height: 9vh;
    background: rgba(6, 6, 6, 0.588);
    padding: 1rem;
    color: rgb(3, 3, 3);
    font-size: 2rem;
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}
.color-1 {
    width: 3vw;
    height: 7vh;
    margin: 1rem;
    margin-left: 0;
   
}
button{
    border:none
}
/*rim*/
.section-color2 {
    width: 18vw;
    height: 10vh;
    margin-left: 4vw;
    display: flex;
    justify-content: flex-start;
}
.title-color2 {
    margin-top: 60vh;
    margin-left: 0;
    width: 20vw;
    height: 9vh;
    background: rgba(6, 6, 6, 0.588);
    padding: 1rem;
    color: rgb(3, 3, 3);
    font-size: 2rem;
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}
.color-2 {
    width: 5vw;
    height:11vh;
    margin: 1rem;
    margin-left: 0;
    
}

@media (min-width:320px) and (max-width: 767px){
    .cont-customize {
        width: 100vw;
        height: 100vh;
        background: rgb(237, 237, 237);
        display: flex;
        flex-direction: row;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    
    .title-customize {
        width: 100vw;
        height: auto;
        display: flex;
        justify-content: center;
        justify-items: center;
    }
    
    .img-title-makeIt {
        width: 50vw;
        height: 20vh;
        margin-top: 10vh;
        position: relative;
        z-index: 1;
    }
    .contenedor-img-car {
        width: 100vw;
        height: 70vh;
        display: flex;
        justify-content: center;
        justify-items: center;
    }
    .img-config {
        width: 100vw;
        height: 50vh;
        position: relative;
        z-index: 0;
        margin-top: -10vh;
    }

    /*color*/
    .section-color {
        width: 40vw;
        height: 10vh;
        margin-left: 4vw;
        display: flex;
        justify-content: flex-start;
    }
    .title-color {
        margin-top: 60vh;
        margin-left: 0;
        width: 40vw;
        height: 9vh;
        background: rgba(6, 6, 6, 0.588);
        padding: 1rem;
        color: rgb(3, 3, 3);
        font-size: 0.8rem;
        clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    }
    .color-1 {
        width: 4vw;
        height:4vh;
        margin: 1rem;
        margin-left: 0;
       
    }
    button{
        border:none
    }
    /*rim*/
    .section-color2 {
        width: 18vw;
        height: 10vh;
        margin-left: 4vw;
        display: flex;
        justify-content: flex-start;
    }
    .title-color2 {
        margin-top:80vh;
        margin-left: 20;
        width: 80vw;
        height: 9vh;
        background: rgba(6, 6, 6, 0.588);
        padding: 1rem;
        color: rgb(3, 3, 3);
        font-size:0.8rem;
        clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    }
    .color-2 {
        width: 5vw;
        height:11vh;
        margin: 1rem;
        margin-left: 0;
        
    }
    
}
@media (min-width:768px) and (max-width: 1023px){
    .cont-customize {
        width: 100vw;
        height: 100vh;
        background: rgb(237, 237, 237);
        display: flex;
        flex-direction: row;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    
    .title-customize {
        width: 100vw;
        height: auto;
        display: flex;
        justify-content: center;
        justify-items: center;
    }
    
    .img-title-makeIt {
        width: 60vw;
        height: 20vh;
        margin-top: 10vh;
        position: relative;
        z-index: 1;
    }
    .contenedor-img-car {
        width: 100vw;
        height: 70vh;
        display: flex;
        justify-content: center;
        justify-items: center;
    }
    .img-config {
        width: 100vw;
        height: 60vh;
        position: relative;
        z-index: 0;
        margin-top: -20vh;
    }

    /*color*/
    .section-color {
        width: 40vw;
        height: 10vh;
        margin-left: 4vw;
        display: flex;
        justify-content: flex-start;
    }
    .title-color {
        margin-top: 60vh;
        margin-left: 0;
        width: 40vw;
        height: 9vh;
        background: rgba(6, 6, 6, 0.588);
        padding: 1rem;
        color: rgb(3, 3, 3);
        font-size: 2rem;
        clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    }
    .color-1 {
        width: 9vw;
        height:8vh;
        margin: 1rem;
        margin-left: 0;
       
    }
    button{
        border:none
    }
    /*rim*/
    .section-color2 {
        width: 18vw;
        height: 10vh;
        margin-left: 4vw;
        display: flex;
        justify-content: flex-start;
    }
    .title-color2 {
        margin-top:80vh;
        margin-left: 20;
        width: 80vw;
        height: 9vh;
        background: rgba(6, 6, 6, 0.588);
        padding: 1rem;
        color: rgb(3, 3, 3);
        font-size:2rem;
        clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    }
    .color-2 {
        width: 5vw;
        height:11vh;
        margin: 1rem;
        margin-left: 0;
        
    }
    
}