.ham-menu{
    cursor: pointer;
}
.hamburguer-menu{
    width: 3.563rem;
    height: 5.371875vh;
    object-fit: contain;
}

@media (min-width: 320px) and (max-width: 767px) {
    .hamburguer-menu{
        width: 8vh;
    }
}