.orders-page .flex{
    display: flex;
    width: fit-content;
    height: fit-content;
    gap: .5rem;
}
.orders-page .flex>*{
    color: black;
}
.orders-page .container{
    width: 100%;
    min-height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1556742111-a301076d9d18?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-size: cover;
    background-position: center;
    position: relative; /* Agrega posición relativa para poder posicionar la pseudo-clase */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .5rem;

}
.orders-page .container::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.orders-page h1{
    text-align: center;
    color: white;
    position: relative;
    z-index: 1;
}
.orders-page .container-card {
    width: 100%;
    min-height: 100vh;
    background-color: aqua;
}
.orders-page .img {
    width: 15rem;
    margin-left: 1.5rem;
}
.orders-page .container-card h2 {
    color: white;
    margin-left: 3.5rem;
    font-size: 30px;

}
.orders-page .container-card h3 {
    color: white;
    margin-top: 1.5rem;
    font-size: 20px;
}
.orders-page .container-card p {
    font-size: 15px;
}
.orders-page .div-card {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}
.orders-page .col {
    flex-direction: column;
    color: white;
}
.orders-page .orders-section{
    width: 90%;
}
.orders-page .card{
    display: flex;
    justify-content: start;
    min-width: 100%;
    max-width: 100%;
    border-radius: .2rem;
    -webkit-border-radius: .2rem;
    -moz-border-radius: .2rem;
    -ms-border-radius: .2rem;
    -o-border-radius: .2rem;
    padding: 1rem;
}
.orders-page .image-vehicle{
    width:10rem;
    height: 10rem;
    object-fit: cover;
}

.orders-page h2, .orders-page h3, .orders-page h4, .orders-page h5, .orders-page span{
    color: #222;
}
